<meta charset="UTF-8">
<title>Cat Gifs</title>
<link href="/assets/css/semantic.min.css" type="text/css" rel="stylesheet"/>
<link href="/assets/css/samples.css" type="text/css" rel="stylesheet"/>
<link href="/assets/css/cat-gifs.css" type="text/css" rel="stylesheet"/>
<script src="/assets/js/cat-gifs.js" async></script>
<base href="/"/>
