<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui container padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview text container">

          <h1 class="ui dividing header" data-se="overview-doc-header">
            Soothing cats <img src="/assets/img/cat-icon.png">
          </h1>

          {{^isLoggedIn}}
            <p>Hello!</p>

            <p>Feeling stressed, and in need of some comfort? Log in to access some cat gifs!</p>
          {{/isLoggedIn}}

          {{#isLoggedIn}}
            <p>Welcome back, {{userinfo.name}}!</p>

            <p>Press the Cat Gifs button below to load some random cat gifs. Do it as many times as you want to keep returning new cats. Hours of fun, cuteness, and relaxation!</p>

            <p><button class="cat-button ui primary button">Cat Gifs</button></p>

            <p class="output"></p>
          {{/isLoggedIn}}

          {{^isLoggedIn}}
            <form method="get" action="/login">
              <button id="login-button" class="ui primary button" type="submit">Log In</button>
            </form>
          {{/isLoggedIn}}
        </div>
      </div>
      {{>server-config}}
    </div>
  </body>
</html>
